/* RESET */
img {
    max-width: 100%;
}

.social-ul a {
    text-decoration: none;
    color: inherit;
}

section:not(.ms_nav-bar) {
    padding: 4rem 0;
}    

.social-ul {
    list-style-type: none;
}

/* *********|COMMON|********* */

.ms_container {
    width: 100%;
    margin: 0 auto;
}    

#jumbotron,
#about {
    color: white;
    background-color: var(--bootstrap-green);
}

.uppercase {
    text-transform: uppercase;
}


/* *********|LAYOUT|********* */
.ms_nav-bar {
    background-color: var(--copyright-bg);
}    

.ms_nav-bar a {
    color: white;
}

.ms_navbar-toggler-icon {
    color: white;
}

/* *********|NAV BAR|********* */

button.ms_toggler {
    border: 1px solid white;
}

/* *********|HEADER|********* */
/* jumbotron */
#jumbotron img {
    width: 250px;
}

/* *********|BODY|********* */
/* about */
#about .ms_container,
#contact .ms_container {
    padding: 0 5rem;
}

/* *********|FOOTER|********* */
#find-us {
    background-color: var(--footer-bg);
    color: white;
}

.social-ul {
    display: flex;
    padding: 0;
    column-gap: 10px;
}

.social-label {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

.about-freelancer a {
    text-decoration: none;
    color: #20c997;
}

#copyright {
    padding: 1rem 0;
    color: white;
    background-color: var(--copyright-bg);
}

/* *********|VARIABLES|********* */
:root {
    /* background color */
    --bootstrap-green: #20c997;
    --footer-bg: #3A546D;
    --copyright-bg: #2C3E50;
}

/* *********|Star Break Rule|********* */
.star-hr {
    padding: 2rem 0;
}
.star-hr i {
    padding: 0 10px;
}
.hrule {
    width: 80px;
    height: 3px;
    background-color: black;
    border-radius: 20px;
}
.hrule.white {
    background-color: rgb(255, 255, 255);
}