/* RESET */
img {
    max-width: 100%;
}

.social-ul a {
    text-decoration: none;
    color: inherit;
}

section:not(.ms_nav-bar) {
    padding: 4rem 0;
}    

.social-ul {
    list-style-type: none;
}

/* *********|COMMON|********* */

.ms_container {
    width: 100%;
    margin: 0 auto;
}    

#jumbotron,
#about {
    color: white;
    background-color: var(--bootstrap-green);
}

.uppercase {
    text-transform: uppercase;
}


/* *********|LAYOUT|********* */
.ms_nav-bar {
    background-color: rgb(49, 52, 87);
    height: 60px;
}    

/* *********|HEADER|********* */
/* jumbotron */
#jumbotron img {
    width: 250px;
}

/* *********|BODY|********* */
/* about */
#about .ms_container,
#contact .ms_container {
    padding: 0 5rem;
}

/* *********|FOOTER|********* */
#find-us {
    background-color: var(--footer-bg);
    color: white;
}

.social-ul {
    display: flex;
    padding: 0;
    column-gap: 10px;
}

.social-label {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

.about-freelancer a {
    text-decoration: none;
    color: #20c997;
}



/* *********|VARIABLES|********* */
:root {
    /* background color */
    --bootstrap-green: #20c997;
    --footer-bg: #3A546D;
    --copyright-bg: #2C3E50;
}